# Python
__pycache__/
*.py[cod]
*.pyo

# Virtualenv
venv/
ENV/
env/
.venv/

# VSCode
.vscode/

# Sumo workspace / outputs
workspace/
screenshots/
papers/
*.xml
*.json

.DS_Store
src/.DS_Store

CURRENT_WORK.md